.nav {
	grid-area: n;
	background-color: hsla(0, 10%, 92%, 0.957);
}
.item a {
	color: hsla(12, 93%, 21%, 0.971);
	text-decoration: none;
}
.item a:focus {
	color: deepskyblue;
	transition: all 0.1s ease-out;
}
