.app-wrapper {
	display: grid;
	grid-template-rows: 60px 1fr;
	grid-template-columns: 2fr 10fr;
	gap: 10px;
	grid-template-areas:
		"h h h"
		"n c c";
}
.header {
	grid-area: h;
}
.nav {
	grid-area: n;
}
.content {
	grid-area: c;
}
header img {
	width: 50px;
	height: 50px;
}
